body {
  width: 1200;
  color: black;
  font-family: "PT sans";
  font-size: 14px;
}
.main-navigation .day-of-entering {
  font-family: "PT sans" bold;
}
h1 h2 {
  font-family: "PT sans" bold;
  font-size: 21px;
}
 .question .big_text {
  font-family: "PT sans" bold;
  font-size: 21px;
}
.text {
  color: white;
}
.form_font {
  font-size: 16px;
}
.sorting {
  font-size: 12px;
}
