body {
  background: #f2f2f2;
  font-size: 14px;
  min-width: 1280px;
  font-family: "pt Sans";
}
.main-baner {
  width: auto;
  margin: 0 auto;
  min-height: 510px;
  width: 100%;
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
}
.cover-img {
  width: 600px ;
  margin: 0 auto;
}
.shape {
  width: 1200px;
  margin: 0 auto;
}
.discription {
  float:left;
  margin-top: 100px;
  width: 1200px;
  height: 270px;
  background: #81b3d2;
}
.box {
  background-size: cover;
  float: right;
  width: 800px;
  height: 270px;
}
.text {
  float: left;
  text-align: center;
  height: 100%;
  color: black;
}
.blocks {
  margin-top: 50px;
  width: 1280px;
  height: 330px;
  text-align: center;
}
.ico {
  text-align: center;
}
.first {
  float: left;  width: 400px;
}
.second {
  float: left; width: 400px;
}
.third {
  float: right;  width: 400px;
}
.try1{
  float: left;
}
.try2{
  float: right;
}
.bl {
  padding: 70px;
}
.block_1{
  float: left;
}
.block_2{
  float: left;
}
.block_3{
  float: right;
}
.question {
  font-size: 21px;
  font-style: bold;
  margin: 25px 140px;
}
.big_text {
  width: 570px;
  height: 90px;
  background: #766357;
  margin-left: 50%;
  margin-right: 50%;
  font-size: 30px;
}
.forma {
  min-width: 1200px;
  min-height: 500px;

}
.formback {
  box-sizing: border-box;
}
.book {
  background: white;
  border: 1px solid red;
  height: 345px;
  width: 515px;
  padding: 55px;
}
